@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
  }
  
  body {
    background: white;
    /*display: grid;
    justify-content: center;*/
  }
  
  img {
    width: 100%;
    height: auto;
  }

  h1 {
    text-align: center;
    padding: 20px 0;
  }
  
  p{
    text-align: center;
  }

  footer {
    text-align: center;
  }
  
  .gallery {
    max-width: 800px;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    padding-top: 10px;
    gap: 10px;
  }

nav{
  position: sticky;
  top:0;
  padding: 1rem;
  background: white;
}

nav ul{
  display: flex;
  flex-direction: row;
}

nav ul li{
  background: white;
  color:white;
  padding: 0.5rem;
  margin-right: 2rem;
}

nav a{
  color:#000080;
  text-decoration: none;
}


section{
  background: white;
  margin-bottom: 2rem;
}

 section ul{
  border: 1px solid #777;
  display: flex;
  flex-direction: row;
  max-width:900px;
  margin: auto;
  overflow-x: scroll;  
}

section ul.finish{
  justify-content: center;
}

section ul li {
  margin-right: 10rem;
}

section ul.finish li{
  margin-right: 0;
}

section ul li img{
  width:600px;
}

/*パソコン用*/
@media screen and (min-width: 960px) {
  .main-visual img{
width: 80%;
display: block;
margin: 0 auto;
  }
}